/* General Style */


html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
    font-family: 'Oswald', sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}


.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.content {
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
}

.img-responsive {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.fltlft {
	float: left;
}

.fltrght {
	float: right;
}

.text-center {
	text-align: center;
}


.container > header,
.content-wrapper {
	padding: 30px;
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
}

.content-wrapper p{
	padding-top: 30px;
	line-height: 26px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

.underline {
	text-decoration: underline;
}


/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	/*font-family: Cambria, Georgia, serif;*/
	font-family: 'Oswald', sans-serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.drop-shadow {
	text-shadow: 2px 2px 4px #000000;
        filter: dropshadow(color=#000000, offx=2, offy=);
}

/*top-bar styles*/

.top-bar {
	margin: 0 -1px 0 620px; /*styles for tripadvisor review widget*/
	/*background-color: #ED1C24;*/
	width: 100%;
	height: auto;
	/*padding: 3px 0;*/
	font-weight: 300;
	font-size: 36px;
	color: #FFF;
	letter-spacing: 1px;
}

.header-contact {
	width: 95%;
	height: auto;
	color: #aaa;
	text-align: right;
	margin: 20px 0 -50px 0;
}

<!--header styles-->

.logo {
	display: inline-block;
}

.nav {
	padding-top: 100px;
	float: right;
}

.nav a {
    display: inline-block;
    margin: 10px;
    color: #333;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.nav a:hover {
	color: #ed1c24;
	border-color: #ed1c24;
}

.nav a.current,
.nav a.current:hover {
	color: #aaa;
	border-color: #aaa;
}

/*/ general styles*/

.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

.sl-slide-button {
	width: 200px;
	height: 50px;
	background-color: #ed1c24;
	color: #FFF;
	text-align: center;
	border: thin inset #FFF;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, .6);
    box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, .6);
	font-weight: bold;
	position: relative;
	margin: 40px 0 0 0;
	
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}

::selection {
	color: #ed1c24;  /* Safari */
	}
::-moz-selection {
	color: #ed1c24;  /* Firefox */
}

.white-text {
	color: #FFF;
}

.grey-text {
	color: #aaa;
}

.red-text {
	color: #ed1c24;
}

#divider {
	background-image:url(../images/divider.png);
	width: 960px;
	height: 2px;
	background-repeat: no-repeat;
	margin: 20px 0;
}


.two-col {
	display: inline-block;
	width: 49%;
	height: auto;
	vertical-align: top;
	padding: 10px 40px 10px 0;
}

.three-col {
	display: inline-block;
	width: 33%;
	height: auto;
	vertical-align: bottom;
	padding: 10px 20px 10px 0;

}

.music h3 {
	line-height: 42px;
}

.vertical-align-top {
	vertical-align: top;
}

img.border {
	border: thick solid #FFF;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, .6);
    box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, .6);
	margin: 0 0 30px 0;
}

/*footer styles*/

#footer {
	background-image: url(../images/footer-bg.jpg);
	background-repeat: repeat;
	width: 100%;
	height: auto;
	-webkit-box-shadow:  0px -2px 4px 4px rgba(, 0, , .4);
    box-shadow:  0px -2px 4px 4px rgba(, 0, , .4);	
	color: #FFF;
}

.email {
	width: 100px;
	border: none;
	padding: 5px 10px;
	margin-bottom: 5px;
}

.button {
	color: #FFF;
	background-color: #ED1C24;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 0;
	border-radius: 10px;
}

.submit-button {
	color: #FFF;
	background-color: #7d271b;
	border: none;
	text-transform: uppercase;
	margin-right: 8px;
	padding: 5px;
}

.center {
	text-align: center;
}

.icon {
	margin: 40px 75px;
}

/*begin menu styles*/

.page-header {
	text-transform: uppercase;
	font-weight: 100;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #aaa;
	font-size: 28px;
}

.page-content {
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 18px;
}

.uppercase {
	text-transform: uppercase;
}

.indent {
	margin-left: 30px;
}

.pdf {
	margin-top: -20px;
	text-align: right;
}

img.gallery {
	display: inline-block;
	margin: 15px;
}

.awards {
	width: 250px;
	height: auto;
	margin: 20px auto;
	font-weight: 400;
}
.awards-item {
	padding: 10px 0;
}

.caption-text {
	font-weight: bold;
	font-size: 30px;
}

/*begin contact styles*/

#contact-form {
	width: 890px;
	height: auto;
	margin-left: 8%;
}

.contact-field {
	padding: 5px 10px;
	border: thin inset #aaaaaa;
	background-color:rgba(170,170,170,0.3);
	width: 80%;
	margin: 5px 0 15px 0;
}

.contact-message {
	width: 85%;
	height: 40px;
}

.disclaimer {
	font-size: 12px;
	font-style: italic;
}

.spacer {
	width: auto;
	height: 100px;
}

/*popup styles*/

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
#boxes #dialog {
	width: 600px;
	height: 600px;
	padding: 10px;
	background-image: url(../images/party-pack2.jpg);
}

#close-button {
	position: relative;
	bottom: 20px;
	right: 20px;
}

#buy-now {
	position: absolute;
	bottom: -120px;
	right: 0;
}

.q-button-wrapper {
	position: relative;
}

.red{color:#ed1c24!important;}

h3.q-button {
	background-color: #ed1c24;
	color: #FFF;
		-webkit-border-radius: 10px;
    border-radius: 10px;
	float: right;
		text-align: center;
	border: thin inset #FFF;
	padding: 3px 15px;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	margin-top: 10px;
	letter-spacing: 1px;
}

h3.q-button-2 {
	background-color: #ed1c24;
	color: #FFF;
		-webkit-border-radius: 10px;
    border-radius: 10px;
	float: right;
		text-align: center;
	border: thin inset #FFF;
	padding: 3px 15px;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	margin-top: 50px;
	letter-spacing: 1px;
}


a.hover-shadow:hover {
	background-color:rgba(170,170,170,0.3);
	margin-top: 20px;
}

.merch {
	margin: 20px 0;
}

.headliner {
  width: 296px;
		height: auto;
		background-color: #ed1c24;
		color: #FFF;
		padding: 10px 20px;
		display: inline-block;
		vertical-align: top;
}

a.headliner-text {
	color: #FFF;
}

.letting {
	letter-spacing: 3px;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.categories {
	width: 250px; 
	height: auto;
	background-color:rgba(170,170,170,0.2);
	padding: 5px 0 5px 25px;
}

ul.category-text {
	margin: 10px 0;
	list-style-type: none;
}

li.category-text {
	padding: 5px 0;
}

.view-cart {
  width: 298px;
		height: auto;
		background-color: #000000;
		text-align: right;
		padding: 10px 20px;
		display: inline-block;
		vertical-align: top;
}

.product-image {
	margin: 20px;
}

.product-description {
	width: 200px;
	height: auto;
}

.price {
	font-size: 20px;
	color: #ed1c24;
	font-weight: bold;
	margin: 20px 0;
}

/* basement styles */

#basement {
	background-color: #333;
	width: auto;
	padding-bottom: 20px;
}

#basement p {
    color: #eaebec;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 11px;
    margin-top: -30px;
}

#basement .content-wrapper img {
	margin: 0 5px;
}

.pineapple-wrapper {
	background: url(../images/logos/circle.png);
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: 30px;
}

.pineapple {
	background: url(../images/logos/pineapple.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: 15px;
}

.img-center {
	display: block;
	margin: -40px auto 0 auto;
}

.ecard {
	background-color: #000;
	text-align: center;
	padding: 6px 0;
}

.ecard a {
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 1px;
}

/* Modal Popup Styles */
	
	#hover{
  position:fixed;
  background:#000;
  width:100%;
  height:100%;
  opacity: .6;
  z-index: 9997;
}

#popup{
  position:absolute;
  max-width:600px;
  max-height:336px;
  background:#fff;
  left:50%;
  top:30%;
  border-radius:5px;
  padding: 0;
  margin-left:-240px; /* width/2 + padding-left */
  margin-top:-150px; /* height/2 + padding-top */
  text-align:center;
  box-shadow:0 0 10px 0 #000;
  z-index: 9998;
  padding: 25px;
}

#popup img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;
	margin: 0 auto;
}

#close{
  position:absolute;
  background:black;
  color:white;
  right:-15px;
  top:-15px;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:8px;
  font-weight:bold;
  font-family:'Arial Black', Arial, sans-serif;
  cursor:pointer;
  box-shadow:0 0 10px 0 #000;
  z-index: 9999;
}

.signup-popup {
	background-color: #fff;
	width: 100%;
	padding: 25px 50px;
}

.popup-btn {
	background-color: red;
	color: #fff;
	font-size: 1.4em;
	padding: 15px 20px;
}

.popup-btn:hover {
	background-color: #d2232a;
	color: #fff;
}



@media (max-width : 768px) {

#popup{
  position:relative;
  max-width:600px;
  max-height:336px;
  background:#fff;
  left:0;
  top:60px;
  padding: 0 ;
  margin-left: 5px; /* width/2 + padding-left */
  margin-right: 5px;
  margin-top:0; /* height/2 + padding-top */
}

#close{
  z-index: 9999;
}

.nav {
	padding-top: 10px;
	float: none;
}

}

/* End Modal Popup Styles */

.catering-form {
		border: 1px solid #ed1c24;
		max-width: 500px;
	    padding: 15px;
	    display: block;
	    margin: 0 auto;
    }
    
    .catering-form h3 {
	    color: #000;
	    padding-bottom: 15px;
    }
    
    .catering-form .catering-field, .catering-form select {
	    display: block;
	    margin: 10px auto;
	    border: 1px solid black;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .contact-message-2 {
	    display: block;
	    margin: 10px auto;
	    border: 1px solid black;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .form_label {
	    text-align: center;
	    color: #000;
	    margin-top: -20px
    }
    
    .catering-form .disclaimer {
	    font-style: italic;
	    font-size: 0.75em;
	    color: #fff;
    }
    
    .catering-button {
	    background-color: #000;
	    color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 3px 20px;
	    letter-spacing: 1px;
	    display: block;
	    margin: 0 auto;
	    border: none;
	    font-size: 1em;
    }
    
    .catering-button:hover {
	    background-color: #ed1c24;
	    color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 3px 20px;
	    letter-spacing: 1px;
	    border: none;
    }
    
    @media (max-width:768px) {
	    .catering-form input {
		    width: 100%;
	    }
	    .catering-button, .catering-form select {
	    display: block;
	    margin: 10px auto;
    }
    
    .catering-form .form_label, .catering-form .disclaimer {
	    text-align: center !important;
	    }
	    }


